@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 450px){
	/* use this query for handheld devices */

}

@media screen and (min-width: 451px) and (max-width: 750px){
	/* use this query for tablets */

}

@media screen and (min-width: 1100px){
	/* use this query for desktop/laptops */

}

 /* TODO
  *  center li containers responsively
	*  set a global of min-width: 395px ???;
	*  convert the images to responsive
	*  add serviceworker & caching
	*  <td> last child (hours) should break onto line by itself>
  */

body {
	background-color: #fff;
	margin: 0;
}

header {
  width: 100%;
}

h1 {
  color: #fff;
	background-color: #252831;
  font-size: 1.6em;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
	vertical-align: center;
	padding: 5%;
	margin: 0;
}

h2 {
  color: #f18200;
  font-size: 1.2em;
  font-weight: 300;
	text-transform: uppercase;
	margin: 10px 0 5px 0;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
filter-options {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}

a {
	color: #f58500;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

footer {
  background-color: #252831;
  color: #aaa;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
footer a {
	font-weight: 900;
}

/* ====================== Navigation ====================== */

/* Display nav menu items side by side */
nav a {
    display: inline;
		font-size: 1em;
		margin: 0;
		width: 100%;
		padding: 10px 40px;
}

#breadcrumb {
	background-color: #eee;
	list-style: none;
	font-size: 1em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb nav+nav:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb nav a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb nav a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  width: 100%;
	height: 350px;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options{
	background-color: #3397DB;
	width: 100%;
}

.filter-options h2 {
  color: #fff;
  font-size: 1.1em;
  font-weight: 100;
  padding: 5px 0 0 5px;
}

.filter-options select {
  background-color: #fff;
  border: 1px solid #fff;
  font-size: .9em;
	padding: 5px;
	width: 45%;
	min-width: 150px;
	margin: 0 0 0 5px;
  height: 35px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 5%;
}

#restaurants-list li {
	border: 2px solid #ccc;
	padding: 25px;
	margin: 0 0 5% 0;
}

.restaurant-img {
  max-width: 100%;
}

#restaurants-list p {
  margin: 0;
  font-size: 0.8em;
}

#restaurants-list li a {
  background-color: #f58500;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

 #restaurant-reviews{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 5%;
}

#restaurant-container{
	padding: 5%;
	max-width: 100%;
}

#restaurant-cuisine {
  background-color: #252831;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 5px 0 10px;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-address {
  font-size: 0.9em;
	font-weight: 500;
  padding: 0 0 0 20px;
}

#restaurant-hours td.day {
	font-size: 0.8em;
	font-weight: 100;
	padding: 0 0 0 20px;
}

#restaurant-hours td.time {
	font-size: 0.8em;
	font-weight: 100;
	padding: 0 0 0 20px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-container {
  max-width: 100%;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #252831;
	list-style-type: none;
  display: block;
  margin: 0 0 5%;
  max-width: 100%;
}

#reviews-list li p {
	font-size: 0.8em;
	line-height: 1.4em;
  margin: 0 10px 10px 10px;
}

#reviews-list .name {
  color: #fff;
	background-color: #252831;
  font-size: 1.1em;
  font-weight: 400;
	padding: 5px 0 10px 10px;
	margin: 0;
}

#reviews-list .date {
	color: #ccc;
	font-size: 1em;
	font-weight: 100;
	padding: 0 5px;
}

#reviews-list .rating {
	color: #fff;
	background-color: #f58500;
	font-size: 0.8em;
	font-weight: 300;
	text-transform: uppercase;
	width: 25%;
	padding: 4px 0 4px 10px;
}
